@media screen and (max-width: 768px) {

    #side-bar.active {
        width: 230px;
    }

    #side-bar .icon{
        width: 60px;
        height: 70px;
        background-color: var(--background-color3);
    }
    
    #side-bar .sidebar-header h4{
        font-size: 12px;
        width: 200px;
        color: #ffffff;
        font-weight: 500;
    }

    #side-bar h5 {
        font-size: 13px;
    }

    #side-bar ul li label {
        font-size: 13px;
    }

    .main_content .dash-head h3{
        font-size: 14px;
    }

    .cite{
        font-size: 13px;
    }
    
    .socialIcn{
       font-size: 13px;
    }

    #content .main_content .card-score .box-scorecard{
        width: 100%;
    }

    .chart-grid{
        width: 90%;
        height: 100vb;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        grid-template-rows: none;
        grid-template-areas: 
        "c1" 
        "c2" 
        "c3" 
        "c4";
        gap: 25px;
        margin-bottom: 15px;
    }

    .c{
        width: 100%;
        height: 100%;
    }

    .c label {
        font-size: 13px;
    }

}

@media screen and (max-width: 576px) {

    #side-bar.active {
        width: 100%;
    }


    #content .head-main form .searchbar input{
        display: none;
    }

    #content .head-main form .searchbar .searchbtn{
        width: auto;
        height: auto;
        background: transparent;
        border-radius: none;
    }
    
    #content .head-main form.show .searchbar input {
        display: block;
        width: 100%;
    }

    #content .head-main form.show .searchbar .searchbtn {
        width: 36px;
        height: 100%;
        border-radius: 0 35px 35px 0px;
        background-color: red;
    }

      #content .head-main form .searchbar .searchbtn{
        color: #3375F4;
    }

    #content .head-main form.show ~ .profile{
        display: none;
    }

    #content .main_content .dash-head{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }

    #content .main_content .card-score .box-scorecard{
        width:100%;
        height: 100px;
    }

    .chart-grid{
        width: 100%;
        height: 100vb;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: none;
        justify-items: center;
        grid-template-areas: 
        "c1" 
        "c2" 
        "c3" 
        "c4";
        gap: 15px;
        margin-bottom: 0%;
    }

    .c{
        width: 100%;
        height: 100%;
    }

    .c label {
        font-size: 15px;
    }

    .cite{
        font-size: 10px;
    }
    
    .socialIcn{
       font-size: 10px;
    }
    
}