@import url('https://fonts.cdnfonts.com/css/poppins');

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

li{
    list-style: none;
}

body{
    display: flex;    /* flex box */
    min-height: 100vh;    /* view for height => supaya tinggiya memenuhi screen dari layarnya */
    background-color: #f3f4f7;
    overflow-x: hidden;
}

#side-bar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #3375F4 ;
    width: 80px;
    height: 100%;
    padding: 30px 20px;
    display: flex; 
    flex-direction: column;
    transition: all ease-out .5s;
    overflow-x: hidden;
    
}

#side-bar::-webkit-scrollbar {
	display: none;
}

#side-bar.active {
    width: 260px;
    padding: 10px 20px;
    gap: 20px;
    overflow-x: hidden;
}

#side-bar .sidebar-header{
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 0;
}

#side-bar .icon{
    width: 50px;
    height: 69px;
    background-color: var(--background-color3);
    transition: .3s;
    opacity: 0;
}

#side-bar.active .icon{
    opacity: 1;
    transition-delay: .2s;
}

#side-bar .sidebar-header h4{
    font-size: 12px;
    height: 70px;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-weight: 600;
    transition: .3s;
    opacity: 0;
}

#side-bar.active .sidebar-header h4{
    opacity: 1;
    transition-delay: .2s;
}


#side-bar .sidebar-header .toogle-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 40px;
    height: 65px;
    font-size: 27px;
    padding-left: 9px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: .5s;
    /* background-color: #c0c0c0; */
}

#side-bar.active .sidebar-header .toogle-btn{
    display: flex;
    align-items: center;
    padding: 0px;
    left: 95%
}


.nav-sidebar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
}

.nav-sidebar ul{
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-left: 5px;
    color: #ffffff;
    list-style: none;
    
}

.list-item {
    display: flex;
    align-items: center;
    gap: 20px;
} 

#side-bar h5{
    color: #ffffff;
    display: none;
}

#side-bar.active h5{
    display: block;
}

li .list-item .icon2{
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: var(--background-color3);
}


li .list-item .description {
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 100;
    display: none;
    transition: opacity .3s;

}

#side-bar.active li .list-item .description {
    pointer-events: auto;
    display: block;
    transition-delay: calc(.1s * var(--i));
}

#side-bar .nav-sidebar li a{
    text-decoration: none;
}


#side-bar ul li a:hover{
    background: #0f357b;
    transition: all ease-in .2s;
    border-radius: 15px;
    padding: 10px;
}

#content{
    position: relative;
    width: calc(100% - 80px);
    left: 80px;
    transition: all ease-in .3s;
}

#content .head-main{
    display: flex;
    align-items: center;
    grid-gap: 40px;
    color: #3375F4;
    padding: 20px;
    /* position: sticky;
    top: 0;
    left: 0; */
}

#side-bar.active ~ #content {
    width: calc(100% - 260px);
    left: 260px;
    transition: all ease-out .3s;
}

#content .head-main .bx.bx-menu{
    cursor: pointer;
}

#content .head-main .form{
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

#content .head-main .searchbar{
    display: flex;
    align-items: center;
    height: 35px;
} 

#content .head-main form .searchbar input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background-color: #ffffff;
    border-radius: 35px 0 0 35px;
    width: 100%;
    outline: none;
}

#content .head-main form .searchbar .searchbtn {
    width: 35px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3375F4;
    color: #ffffff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 35px 35px 0px;
    cursor: pointer;
}

#content .head-main .logoo{
    display: flex;
    align-items: center;
    gap: 6px;
    padding-top: 0;
}

#content .head-main .logoo .font{
    width: 70px;
    font-size: 14px;
    justify-content: center;
    font-weight: 300;
}

#content .head-main .logoo .font .jayapura{
    font-weight: 600;
}

#content .head-main .team4 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #3375F4;
}

#content .head-main .profile{
    width: 40px;
	height: 40px;
	object-fit: cover;
}

#content .main_content{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 45px;
    gap: 65px;
}

.main_content .dash-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_content .dash-head h3{
    font-size: 23px;
    font-weight: 500;
    color: #0f357b;
}

.filt{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 5px;
}

.filt select, button{
    background-color: #ffffff;
    border: 0.5px solid #c0c0c0;
    color: #1a1a1a;
    font-size: 13px;
    font-weight: 500;
}

.filt select{
    height: 30px;
    width: 90px;
    border-radius: 9px;
    text-align: center;
    font-weight: 100;


}

.filt button{
    height: 28px;
    width: 90px;
    border-radius: 9px;
    cursor: pointer;
    font-weight: 100;

}

#content .main_content .card-score {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    justify-items: center;
    grid-gap: 30px;
}

#content .main_content .card-score .box-scorecard{
    display: flex;
    align-items: center;
    padding: 24px;
    border-radius: 15px;
    background: #ffffff;
    gap: 30px;
}

.scorecard{
    width: 40px;
    height: 40px;
    background-color: #547fff;
    border-radius: 100%;
    padding: 5px;
}

.value{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.value label{
    font-size: 11px;
    font-weight: 100;
    color: #000000;
}

.value span{
    font-size: 25px;
    font-weight: 500;
    color: #0f357b;
}

.chart{
    display: flex;
    justify-content: center;
}

.chart-grid{
    width: 90%;
    height: 90vb;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "c1 c1 c2 c2"
        "c3 c3 c3 c4";
    text-align: center;
    gap: 35px;
}

.c{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    min-height: 100px;
    min-width: 100px;
}

.c:nth-child(1){
    grid-area: c1;
}


.c:nth-child(2){
    grid-area: c2;
}

.c:nth-child(3){
    grid-area: c3;
}

.c:nth-child(4){
    grid-area: c4;
}

.c label{
    color: #0f357b;
    font-weight: 500;
}

.footer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "f1 f2";
    padding: 70px 30px 20px;
}

.cite{
    grid-area: f1;
    align-content: end;
}

.media{
    grid-area: f2;
}

.socialIcn{
    display: flex;
    justify-content: end;
    gap: 10px;
}

.socialIcn a{
    text-decoration: none;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 50%;
}

.socialIcn a i{
    color: #3375F4;
    transition: 0.5s;
}


.socialIcn a:hover{
    background-color: #3375F4;
    transition: 0.5s;
}

.socialIcn a:hover i{
    color: #ffffff;
    transition: 0.5s;
}

