*{
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
body{
    display: flex;    /* flex box */
    min-height: 100vh;    /* view for height => supaya tinggiya memenuhi screen dari layarnya */
}

#side-bar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: #0E1F40  ;
    width: 260px;
    height: 100%;
    padding: 30px 20px;
    display: flex; 
    flex-direction: column;
    gap: 50px;
    transition: all ease-in .3s;
    overflow-x: hidden;
}

#side-bar::-webkit-scrollbar {
	display: none;
}

#side-bar.hide {
    width: 80px;
    transition: all ease-out .3s;
}

#side-bar .sidebar-header{
    display: flex;
    gap: 20px;
    padding: 0;
}

#side-bar.hide .sidebar-header{
    display: none;
}

#side-bar .icon{
    width: 100px;
    height: 110px;
    background-color: var(--background-color3);
}

#side-bar .sidebar-header h2{
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
}

.nav-sidebar{
    display: flex;
    flex-direction: column;
    padding: 0;
    box-sizing: border-box;
    gap: 65px;
}

#side-bar.hide .nav-sidebar{
    margin-top: 30px;
}


.nav-sidebar section{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    gap: 20px;
} 

#side-bar h5{
    color: #ffffff;
}

#side-bar.hide h5{
    display: none;
}

.nav-sidebar ul{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 5px;
    color: #ffffff;
    list-style: none;
}

li .list-item .icon2{
    width: 30px;
    height: 36px;
    background-color: var(--background-color3);
}


li .list-item .description {
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
    cursor: pointer;
}

#side-bar.hide li .list-item .description {
    display: none;
}

#side-bar .nav-sidebar li a{
    text-decoration: none;
}


#side-bar section a:hover{
    background: #2E5DB7;
    transition: all ease-in .2s;
    border-radius: 15px;
}

#content{
    position: relative;
    width: calc(100% - 260px);
    left: 260px;
    transition: all ease-in .3s;
}

#side-bar.hide ~ #content {
    width: calc(100% - 80px);
    left: 80px;
    transition: all ease-out .3s;
}

#content .head-main{
    display: flex;
    align-items: center;
    grid-gap: 40px;
    background-color: #0E1F40  ;
    color: #ffffff;
    padding: 20px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

#content .head-main .bx.bx-menu{
    cursor: pointer;
}

#content .head-main .form{
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

#content .head-main .searchbar{
    display: flex;
    align-items: center;
    height: 35px;
} 

#content .head-main form .searchbar input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background-color: #d1d9e9;
    border-radius: 35px 0 0 35px;
    width: 100%;
    outline: none;
}

#content .head-main form .searchbar .searchbtn {
    width: 35px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3375F4;
    color: #d1d9e9;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 35px 35px 0px;
    cursor: pointer;
}

#content .head-main .profile{
    width: 46px;
	height: 46px;
	object-fit: cover;
	border-radius: 50%;
}

#content .main_content{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 45px;
    gap: 65px;
}

.main_content .dash-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_content .dash-head h3{
    font-size: 35px;
    font-weight: 600;
    color: #0f357b;
}

.filt{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 5px;
}

.filt select, button{
    background-color: #f5f5f5;
    border: none;
    color: #0f357b;
    font-size: 16px;
    font-weight: 500;
}

.filt select{
    height: 35px;
    width: 190px;
    border-radius: 9px;

}

.filt button{
    height: 35px;
    width: 55px;
    border-radius: 5px;
    cursor: pointer;
}

#content .main_content .card-score {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    grid-gap: 30px;
}

#content .main_content .card-score .box-scorecard{
    display: flex;
    align-items: center;
    padding: 24px;
    border: 0.5px solid #d1d9e9;
    border-radius: 15px;
    background: linear-gradient(to right, #3375F4 0%, #ffffff 100%, #3375F4 100%, #ffffff 100%);
    gap: 30px;
}

.value{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.value label{
    font-size: 15px;
    font-weight: 700;
}

.chart{
    display: flex;
    justify-content: center;
}

.chart-grid{
    width: 90%;
    height: 90vb;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "c1 c1 c2 c2"
        "c3 c3 c3 c4";
    text-align: center;
    gap: 35px;
}

.c{
    background-color: #d1d9e9;
    padding: 10px;
    border-radius: 10px;
}

.c:nth-child(1){
    grid-area: c1;
}


.c:nth-child(2){
    grid-area: c2;
}

.c:nth-child(3){
    grid-area: c3;
}

.c:nth-child(4){
    grid-area: c4;
}

.c label{
    color: #0f357b;
    font-weight: 500;
}

.footer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "f1 f2";
    padding: 70px 30px 20px;
}

.cite{
    grid-area: f1;
    align-content: end;
}

.media{
    grid-area: f2;
}

.socialIcn{
    display: flex;
    justify-content: end;
    gap: 10px;
}

.socialIcn a{
    text-decoration: none;
    padding: 10px;
    background-color: #d1d9e9;
    border-radius: 50%;
}

.socialIcn a:hover{
    background-color: #2E5DB7;
    transition: 0.5s;
}

.socialIcn a:hover i{
    color: #ffffff;
    transition: 0.5s;
}

