*{
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;    /* flex box */
    min-height: 100vh;    /* view for height => supaya tinggiya memenuhi screen dari layarnya */
}


aside{
    background-color: #0E1F40  ;
    width: 360px;
    padding: 25px;
    display: flex; 
    flex-direction: column;
    box-sizing: border-box;
    gap: 25px;
}

aside header{
    display: flex;
    box-sizing: border-box;
    /* margin-bottom: 25px; */
    /* padding: 15px 10px; */
    gap: 20px;
    padding: none;
}

/* .sidebar .header .list-item{

}  */

/* .sidebar .header .list-item .icon{
    margin-right: 25px;
} */

aside header h2{
    font-size: 30px;
    color: #ffffff;
    font-weight: 600;
}

/* .main {
    margin-bottom: 25px;
} */

nav{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: none;
}

nav section{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

nav section .list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 10px;
    gap: 20px;
} 

nav h4{
    color: #ffffff;
}

nav section .list-item .icon2{
    width: 53px;
    height: 59px;
    background-color: var(--background-color3);
}

nav section .list-item .description {
    font-weight: 100;
    font-size: 20px;
    color: #ffffff;
}

nav section a{
    text-decoration: none;
}

nav section a:hover{
    background: #2E5DB7;
    transition: all ease-in .2s;
}


header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    background-color: #0E1F40  ;
    align-content: center;
    justify-content: space-between;
    padding: 20px;
}

/* .headbar .searchbar{
    
} */

.searchbar{
    display: flex;
    flex-direction: row;
    padding: 15px 10px;
    margin-bottom: 25px;
    align-items: center;
    /* margin-left: 35px; */
} 

.searchbar .searchbtn{
    width: 50px;  
    display: flex; 
    align-items: center;
    border: 1px solid white;
    justify-content: center; 
    border-radius: 8px 0 0 8px; 
    border-right: none;
    cursor: pointer
}

.searchbar .searchbtn img{
    width: 35px;
}

.searchbar input { 
    color: #ffffff;
    width: 300px; 
    font-weight: 100;
    border-radius: 0px 8px 8px 0px; 
    border: 1px solid white;
    font-size: 20px;
    border-left: none;
    outline: none;
}

.searchbar input, .searchbtn{
    height: 42px;
    box-sizing: border-box;
    background-color: var(--background-color3); 
}

main{
    background-color: #ffffff;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 35px;
}

